<div class="wrapper">
  <div>
    <h1>Personal details</h1>
    <div class="form-card">
      <p>Gender</p>
      <mat-radio-group>
        <mat-radio-button value="M">Male</mat-radio-button>
        <mat-radio-button value="F">Female</mat-radio-button>
      </mat-radio-group>
      <p>First name</p>
      <mat-form-field>
        <input matInput>
      </mat-form-field>
      <p>Last name</p>
      <mat-form-field>
        <input matInput>
      </mat-form-field>
      <div>
        <p>Date of birth</p>
        <mat-form-field class="reduce-width">
          <input matInput>
        </mat-form-field>
        <mat-form-field class="reduce-width">
          <input matInput>
        </mat-form-field>
        <mat-form-field class="reduce-width">
          <input matInput>
        </mat-form-field>
      </div>
      <p>Nationality</p>
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>

    <button>Continue</button>

    <div class="bottom">
      <img src="/assets/images/Shape.svg" alt="">
      <div class="bottom-text">
        <p>Invoya guarantees highest investmet standards.</p>
        <p>Learn more.</p>
      </div>
    </div>
  </div>
</div>
