<div class="wrapper">
  <div class="left">
    <img src="/assets/images/Shape.svg" alt="shape">
    <p>Inyova guarantees highest investment standards. learn more.</p>
  </div>
  <div class="right">
    <button (click)="emitAction(FOOTER_ACTIONS.CONSULTATION)" class="book-consultation">
      <p>Book consultation</p>
    </button>
    <button (click)="emitAction(FOOTER_ACTIONS.OPEN_ACCOUNT)" class="open-account">
      <p>Open account</p>
    </button>
    <button (click)="emitAction(FOOTER_ACTIONS.CHAT)" class="chat">
      <img src="/assets/images/Icon.svg" alt="chat">
      <p>Chat</p>
    </button>
  </div>
</div>
